* {
  color: rgb(22, 100, 22);
  font-family: "Dosis", sans-serif;
}

.main {
  background-color: #33090f;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: #33090f;
  justify-content: center;
  padding-right: 2%;
}

.subfooter {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.icon{
  padding-right: 10px;
  padding-top: 10px;
  font-size: 24px;
}

img,
video {
  margin: auto;
  max-width: 70%;
  display: block;
}

h1 {
  margin-top: 10px;
  padding-bottom: 3%;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
